* {
    margin: 0px;
}
.container {
    display: grid;
    grid-template: 150px 1fr 50px / 300px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    height: 100vh;
    
}

/************************************Botones********************************************/

a {
    display: black;
    float: left;
    width: 220px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgb(230, 152, 7);
    color: white;
}

.activo {
    background-color: rgb(255, 217, 0);
} 

a:link {
    text-decoration: none;
}

a:hover {
    background-color: skyblue;
    color: black;

}

a:active {
    background-color: gold;
}

a:visited {
    color: white;
}

.contenido {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/**********************************************************************************/


.header {
    grid-area: header;
   background-color: orange;
}
.left{
    grid-area: left;
    
}
.content{
    grid-area: content;

}

.footer{
    grid-area: footer;
    background-color: orange;

}
.item {
    border: 1px solid yellow;
}
.subitem{
    border: 1px solid yellow;
}
.bordes{
    margin-left: 50px;
    margin-top: 50px;
    width: 1006px;
    height: 636px;
    border: 2px solid black;
}

.bloques{
    width: 600px;
    margin: 0px auto;
}

.bloque1{ 
    width: 100px;
    height: 120px;
    border: 2px solid black;
    margin-bottom: 750px;
    font-size: 2cm;
    text-align: center;
    position: absolute;
    color: blue;
}
#uno1{ 
    margin-top: 0px;
    background-color: yellow;
    margin-left: 0px;
}
#dos1{ 
    margin-top: 0px;
    background-color: white;
    margin-left: 100px;
}
#tres1{ 
    margin-top: 0px;
    background-color: yellow;
    margin-left: 200px;
}
#cuatro1{ 
    margin-top: 0px;
    background-color: white;
    margin-left: 300px;
}
#cinco1{ 
    margin-top: 0px;
    background-color: white;
    margin-left: 400px;
}
#seis1{ 
    margin-top: 0px;
    background-color: white;
    margin-left: 500px;
}

.bloque3{
    width: 110px;
    height: 110px;
    margin-right: 894px;
    border: 1px solid black;
    border-left: 0px;
    font-size: 2cm;
    text-align: center;
    position: absolute;
    color: blue;
}
#uno3{ 
    background-color: white;
    margin-top: 80px;
}
#dos3{ 
    background-color: white;
    margin-top: 190px;
}
#tres3{ 
    background-color: yellow;
    margin-top: 300px;
}
#cuatro3{ 
    background-color:white;
    margin-top: 410px;
}

.bloque2{ 
    width: 110px;
    height: 110px;
    margin-left: 894px;
    border: 2px solid black;
    font-size: 2cm;
    text-align: center;
    position: absolute;
    color: blue;
}
#uno2{ 
    background-color:white;
    margin-top: 80px;
}
#dos2{ 
    background-color:white;
    margin-top: 190px;
}
#tres2{ 
    background-color: white;
    margin-top: 300px;
}
#cuatro2{ 
    background-color: white;
    margin-top: 410px;
}
.bloque4{ 
    width: 110px;
    height: 110px;
    border: 2px solid black;
    font-size: 2cm;
    text-align: center;
    position: absolute;
    margin-top: 524px;
    color: blue;
}
#uno4{ 
    background-color: white;
    margin-left: 250px;
}
#dos4{ 
    background-color: white;
    margin-left: 360px;
}
#tres4{ 
    background-color: yellow;
    margin-left: 470px;
}
#cuatro4{ 
    background-color: yellow;
    margin-left: 580px;
}
#cinco4{ 
    background-color:red;
    margin-left: 690px;
}
.bloque5{ 
    width: 110px;
    height: 110px;
    border: 2px solid black;
    font-size: 2cm;
    text-align: center;
    position: absolute;
    margin-top: 263px;
    margin-bottom: 263px;
    color: blue;

}
#uno5{ 
    background-color: red;
    margin-left: 350px;
}
#dos5{ 
    background-color: white;
    margin-left: 460px;
}
#tres5{ 
    background-color: white;
    margin-left: 570px;
}
#cuatro5{ 
    background-color: white;
    margin-left: 680px;
}
#cinco5{ 
    background-color:red;
    margin-left: 790px;
}
.bloqueCentro{
    margin-top: 263px;
    margin-left: 207px;
    width: 140px;
    height: 160px;
    border: 2px solid black;
}
.bloqueGarita{
    margin-top: 0px;
    margin-left: 100px;
    background-color: green;
    border: 1px solid black;
    height: 55px;
    width: 109px;
}
.GARITA{
    margin-top: 150px;
    margin-left: 120px;
    font-size: 0.75cm;
}